## Lecture 8: String Manipulation & Text Processing

After this lesson, students should be able to:

- Understand how to build strings
- Be familiar with string indexing, slicing and striding
- Navigate f-strings
- Concatenate strings
- Know the use cases for, and know how to apply basic string functions

## 1) Basics

In [8]:
evens = [2, 4, 6, 8, 10]
evens[::-1]

[10, 8, 6, 4, 2]

In [10]:
evens[::-2]

[10, 6, 2]

In [18]:
evens[:3] # Notice this behavior... needs at least two rounds of 'striding' for the functionality to work.
            # Otherwise, will default to first n items.

[2, 4, 6]

In [20]:
odds = [1, 3, 5, 7, 9]
odds + evens

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [28]:
odds * 2

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [34]:
odds + 2

TypeError: can only concatenate list (not "int") to list

In [36]:
odds + [2]

[1, 3, 5, 7, 9, 2]

## 2) F-strings

In [40]:
bella_fav = 'yellow'
print(f"My favorite color is {bella_fav}.")

My favorite color is yellow.

In [42]:
xuetao_fav = 'blue'
print(f"My favorite color is {xuetao_fav}.")

My favorite color is blue.

In [44]:
pi = 3.14159265
print(f"The first few digits of pi are {pi}.")

The first few digits of pi are 3.14159265.

In [46]:
print(f"8 * 7 = {8 * 7}")

8 * 7 = 56

## 3) A few string functions, applied

In [49]:
statement = "We are currently in class at the University of Washington!"
statement

'We are currently in class at the University of Washington!'

In [51]:
statement.lower()

'we are currently in class at the university of washington!'

In [53]:
statement.upper()

'WE ARE CURRENTLY IN CLASS AT THE UNIVERSITY OF WASHINGTON!'

In [55]:
statement.islower()

False

In [57]:
statement.split(" ")

['We',
 'are',
 'currently',
 'in',
 'class',
 'at',
 'the',
 'University',
 'of',
 'Washington!']

In [59]:
statement.split("!")

['We are currently in class at the University of Washington', '']

In [61]:
statement.count("We")

1

In [63]:
statement.replace("class", "outer space")

'We are currently in outer space at the University of Washington!'

In [69]:
statement.find("Washington") # Notice it takes the CHARACTER index space!

47

## INTERACTIVE CHALLENGE

### CHALLENGE QUESTION #1: Write an introduction function for yourself for both yourself and the name and age of someone sitting near you, using f-strings.

In [ ]:
my_name = ...
my_age = ...
parter_name = ...
partner_age = ...

In [ ]:
def introduction(name, age):
    ...

In [ ]:
# This cell should output the intro for yourself.
introduction(my_name, my_age)

In [ ]:
# This cell should output the intro for your partner.
introduction(partner_name, partner_age)

### CHALLENGE QUESTION #2: Write a function that outputs everything the same as the introduction function from Question #1 did -- but backwards!

In [ ]:
def backward_intro(name, age):
    ...

In [76]:
# Try it on yourself!
backward_intro(my_name, my_age)