In [3]:
import seaborn as sns
import pandas as pd
import math

### P1

##### 1.1 Download this dataset to local, and read and load it as a dictionary. 
##### https://github.com/mwaskom/seaborn-data/blob/master/car_crashes.csv

In [ ]:
# after loading the data, run:
carcrashes

##### 1.2 Sort out all the user that has an alcohol level greater than 7. Save those into a new dictionary, then save to local file, and name it as Drunk_driver.csv

In [ ]:
# If done correctly this should print out the infor for drunk drivers.
with open('Drunk_driver.csv', 'r') as file:
    content = file.read()
    print(content)

##### 1.3 Among the drunk drivers, check how many of them had not-distraction level lower than 10.
##### Save another file, name it as Drunk_distracted_driver.csv

In [ ]:
# If done correctly this should print out the infor for drunk drivers.
with open('Drunk_distracted_driver.csv', 'r') as file:
    content = file.read()
    print(content)

### P2
##### 2.1 Download this dataset to local, and read and load it as a dictionary.  
##### https://github.com/mwaskom/seaborn-data/blob/master/healthexp.csv

In [5]:
import pandas as pd

##### There are alot of information that you can get from a dataset. Here are some examples.

In [6]:
#
df = dataset
df.describe()

              Year  Spending_USD  Life_Expectancy
count   274.000000    274.000000       274.000000
mean   1996.992701   2789.338905        77.909489
std      14.180933   2194.939785         3.276263
min    1970.000000    123.993000        70.600000
25%    1985.250000   1038.357000        75.525000
50%    1998.000000   2295.578000        78.100000
75%    2009.000000   4055.610000        80.575000
max    2020.000000  11859.179000        84.700000

In [8]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

##### 2.2 Summarize the data and write a local file to save the summary
##### the summary should have:
##### The average Spending_USD and life_expectancy for Germany
##### The average Spending_USD and life_expectancy for USA
##### The average sSpending_USD and life_expectancy for Japan

##### Bonus1. Find out the mean for each country
##### Bonus2. Plot the means for each country out on a 2D plot. Example of how to plot: 
##### https://seaborn.pydata.org/tutorial/relational.html
##### Bonus3.