# Jul_11 HW
### Each problem worth 20%. Q1.1 and Q1.2 worth 10% each.
### Bonus worth up to 20%.
##### You can develop the dictionary part into a final project, with understanding in depth of the data and the story.

### Sets

### 1. Email List Management

#### Problem: You are managing a mailing list for a company. There are two sets of emails: one set contains emails from the company's newsletter subscribers, and the other set contains emails from the company's customers. Write a function manage_emails that takes these two sets as input and performs the following:
#### Returns a set of emails that are in both lists (subscribed customers).
#### Returns a set of emails that are only in the subscriber list but not in the customer list.
#### Returns a set of all unique emails from both lists.

In [ ]:
# input
subscribers = {"alice@example.com", "bob@example.com", "charlie@example.com"}
customers = {"bob@example.com", "dave@example.com"}

In [ ]:
def manage_emails(subscribers,customers):

    return subscribed_customers,unique_subscribers,all_emails

subscribed_customers,unique_subscribers,all_emails =  manage_emails(subscribers,customers)
print(subscribed_customers)
print(unique_subscribers)
print(all_emails)

In [ ]:
# Example Output
subscribed_customers = {"bob@example.com"}
unique_subscribers = {"alice@example.com", "charlie@example.com"}
all_emails = {"alice@example.com", "bob@example.com", "charlie@example.com", "dave@example.com"}

### 2. Course Enrollment

##### Problem: You are given two sets of student IDs: one for students enrolled in a Python course and another for students enrolled in a Data Science course. Write a function course_enrollment that takes these two sets as input and performs the following:
##### Returns a set of student IDs who are enrolled in both courses (taking both Python and Data Science).
##### Returns a set of student IDs who are enrolled in only one of the courses.
##### Returns a set of student IDs who are enrolled in at least one of the courses.

In [ ]:
# input 
python_students = {101, 102, 103, 104}
data_science_students = {103, 104, 105, 106}

In [ ]:
# example output
both_courses = {103, 104}
one_course = {101, 102, 105, 106}
at_least_one_course = {101, 102, 103, 104, 105, 106}

# Dictionary

##### titanic is a dataset that provides information about the passengers on the Titanic, including whether they survived, their age, class, etc.

In [ ]:
import seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')

##### Q1.1 print out all keys in titanic dataset.

##### Q1.2 how many people survived from titanic?

In [ ]:
#example output:
# use print to show:
# 3000 survived out of 8000

##### Q2 what is the average age of surviving people?

In [ ]:
# hint: filter out the ones that have survive mark as 1

In [ ]:
def average_age_by_survival(titanic):
    return avg_age

# Example usage
print(average_age_by_survival(titanic))

##### Q3 what is the survival rate by sex?

In [ ]:
# hint: start with the survivals, and check their sex. Count separately first
# then calculate the rate out of total.

In [ ]:
def survival_rate_by_sex(titanic):
    return survival_rate_male, survival_rate_female

# Example usage
titanic = sns.load_dataset('titanic')
print(survival_rate_by_sex(titanic))

#### Bonus: Explore the dataset, process the numeric information in the dataset, and tell us the story behind one or two of the numbers.
##### 1. Grading of this depends on whether your process is correct and how TAs feel about your stories. 
##### 2. Conclusion much be correct in order to have the story evaluated. 
##### 3. So you need to process the number right, and write a cool story (don't exceed 200 words).