# UW Summer Stretch -- Introduction to Programming in Python

## HW 2: Variables, Data Types, and Basic Operations

The conduction of grading is reflected in the following table.

| Question | Points | 
|:--------:|:--------:|
|  1a   |  1   | 
|  1b   |  1   | 
|  2a   |  2   | 
|  2b   |  1   | 
|  3a   |  2   | 
|  3b   |  2   | 
|  3c   |  3   | 
|  4a   |  2   |
|  4b   |  2   |
|  **Total**   |  **16**   |

### Question 1: Strings and Slices

Strings can be manipulated by **indexing** into them. This is indicated by a bracket with an integer i.

For example, if a string 'apple' is assigned to the variable `a`, then grabbing the second character of `a` can be done by indexing into `a` with i = 1. This is because Python uses 0-indexing, meaning the first character is in the 0th place, the second character is in the 1st place, etc. Thus, grabbing the character 'p' from 'apple' can be conducted by coding `a[1]`.

**1a) Write code that outputs 'u' using string indexing.**

In [35]:
bb = 'blueberry'
... #REPLACE '...' WITH CODE

Ellipsis

You can also grab a substring of a string using the colon symbol. You can specify an ending character position (exclusive), a beginning character position, or both. See the below example.

In [51]:
## Substring example
string_ex = 'strawberry'
substr_berry = string_ex[5:10]
print(substr_berry)

substr_berry2 = string_ex[5:]
print(substr_berry2) #Notice it's the same output!

substr_straw = string_ex[:5]
print(substr_straw)

berry
berry
straw

**1b) Find 3 new words that belong in the defined variable. Assign them each to the names `substr1`, `substr2`, and `substr3`, respectively.**

In [ ]:
x = 'nonetheless'
... 
...
...

### Question 2: Identi-variable

**2a) Write an introduction for yourself in the next cell using the variables `name`, `age` and `grade`. Print the introduction after defining these variables.**

You can search online for a way to print with variables!

In [61]:
name = ...
age = ...
grade = ...
...

Ellipsis

**2b) What are the types of each variable in 2a? Select from the options below and assign each variable to a letter.** <br>

For example: grade_type = 'd'

(a) Float <br>
(b) Int <br>
(c) Str

In [67]:
name_type = ...
age_type = ...
grade_type = ...

### Question 3: Geometr-ython

*Note: We will learn functions in a future class, so you only need to worry about the '...' portions for now.*

To give a brief intro for functions, they are composed of the following: a definition statement, input variables, a body, and a return statement which produces an output. <br>
Here is an example:

In [5]:
# EXAMPLE OF FUNCTION
def addition(x, y):
    sum = x + y
    return sum

The **definition statement** defines the NAME of the function, so we can call it later. By running that cell alone, we will not get an output. If I run a cell afterwards calling it, then it will output a result! See the cell block below for an example. <br>
The **input variables** here are `x` and `y`. Whenever you call a function, you can change the value of these input variables. In the cell block below, `x` = 2 and `y` = 3. <br>
The **body** for the addition function is just the line `sum = x + y`. <br>
The **return statement** is the line with the `return` keyword. This line is mandatory because it produces an output for the function. Try removing it and running the cell below to see what happens!

In [9]:
addition(2, 3)

5

In [13]:
addition(8, 13) # See how the function works for all cases of x and y?

21

**3a) Finish the function to write the area and perimeter formulas for a triangle.**

In [82]:
def triangle_area(base, height):
    area = ....
    return area

In [ ]:
# Tests for checking (optional)
triangle_area(5, 10) == 25
triangle_area(2, 3) == 2
triangle_area(25, 42) == 525

You can import pi using a Python library, which we've imported below. `math.pi` can then be referenced as a variable.

In [85]:
import math

**3b) Finish the function to write the area and circumference of a sphere. (Beware of the input!)**

In [111]:
def sphere_formulas(diam):
    volume = ...
    circum = ...
    return volume, circum

In [ ]:
# Tests for checking (optional)
sphere_formulas(8) == (268.082573106329, 25.132741228718345)
sphere_formulas(30) == (14137.166941154068, 94.24777960769379)

**3c) Finish the function to write the curved surface area, total surface area, and volume of a right circular cone.**

In [101]:
def rcc_formulas(r, h, l):
    'r is radius, h is height, l is slanted length'
    curved_sa = ...
    total_sa = ...
    volume_sa = ...
    return curved_sa, total_sa, volume_sa

In [124]:
# Tests for checking (optional)
rcc_formulas(3, 4, 5) == (62.83185307179586, 130.72951471480383, 50.26548245743669)
rcc_formulas(5, 6, 8) == (150.79644737231007, 282.7433388230814, 188.4955592153876)
rcc_formulas(7, 10, 13) == (285.0, 503.3482438584487, 513.6190612027964)

False

### Question 4: The Floor's The Limit!

**4a) Write a mathematical statement WITHOUT using the floor function '//' that operates the same way as x // 2.**

In [127]:
x = 8 #Dummy variable

print(x / 2) #This is what you should get
... #WRITE CODE HERE

4.0

Ellipsis

**4b) Write a mathematical statement WITHOUT using the modulo function '%' that operates the same way as x % 2.**

In [134]:
x = 9

print(x % 2) #This is what you should get
... #WRITE CODE HERE

1

Ellipsis

## Congratulations! You finished HW 2!